In [1]:
import pandas as pd
import numpy as np
from wordcloud import WordCloud
import matplotlib.pyplot as plt

In [2]:
path = "movies.csv"                                     #MOVIES.CSV
moviescsv=pd.read_csv(path, usecols=['movieId','title','genres'], dtype={'movieId':'int32','title':'str'})
moviescsv.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
moviescsv.drop_duplicates(subset="title", keep='last',inplace=True)  #The 'inplace=True' ensures that the original 'movies' DataFrame is modified.
moviescsv

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [4]:
import re #regularexpressions
import string
def clean_text_func(text):
    '''Make text lowercase, removing special characters'''
    text = text.lower()
    # remove multiple whitespaces
    text = re.sub('\s+',' ', text)
    # remove characters that not words
    text=re.sub('[^a-zA-Z0-9]',' ',text)
    return text

clean_text = lambda x: clean_text_func(x)    #This lambda function allows us to apply the cleaning function conveniently in a single line.

In [5]:
moviescsv.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [6]:
if 'all_data' not in moviescsv:                #this lines prevent from re-runing the data which causes multiple datasets.
    moviescsv['all_data'] = moviescsv[moviescsv.columns[3:]].apply(
        lambda x: ' '.join(x.astype(str)),
        axis=1
        )

In [7]:
import nltk
from nltk import WordNetLemmatizer
from nltk.corpus import stopwords
import re
nltk.download('wordnet')

def lemma_tokens(tokens, lemma):
    lemma_result = [lemma.lemmatize(item) for item in tokens]
    return(lemma_result)

def tokenize(text):
    lemma = nltk.WordNetLemmatizer()
    text = re.sub("[^a-zA-Z]", " ", text)
    tokens = nltk.word_tokenize(text)

    # English Stop words
    # Re-add the additional stop words since we are recreating the document-term matrix
    stop_words = stopwords.words('english')

    # Remove all stop words: no_stops
    no_stops = [t for t in tokens if t not in stop_words]

    lemma = lemma_tokens(no_stops, lemma)
    return(lemma)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\gauur\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [8]:
path2 = "ratings.csv"                                 #RATINGS.CSV
ratings = pd.read_csv(path2,
                      usecols=['userId', 'movieId', 'rating', 'timestamp'],
                      dtype={'userId': 'Int32', 'movieId': 'Int32', 'rating': 'float32'},
                      na_values={'userId': -1, 'movieId': -1, 'rating': 0.0})

ratings.head()

   userId  movieId  rating     timestamp
0       1      296     5.0  1.147880e+09
1       1      306     3.5  1.147869e+09
2       1      307     5.0  1.147869e+09
3       1      665     5.0  1.147879e+09
4       1      899     3.5  1.147869e+09

In [9]:
ratings.dtypes

userId         Int32
movieId        Int32
rating       float32
timestamp    float64
dtype: object

In [10]:
tags = pd.read_csv("tags.csv")
tags.head(2)

   userId  movieId      tag     timestamp
0       3      260  classic  1.439472e+09
1       3      260   sci-fi  1.439472e+09

In [11]:
ratings_t = ratings.groupby('userId').filter(lambda x: len(x) > 80)
ratings_t #limit ratings to user ratings that have rated more than 80 movies

         userId  movieId  rating     timestamp
70            2        1     3.5  1.141416e+09
71            2       62     0.5  1.141417e+09
72            2      110     5.0  1.141417e+09
73            2      150     4.0  1.141416e+09
74            2      151     4.5  1.141416e+09
...         ...      ...     ...           ...
3077630   20261    79132     5.0  1.449025e+09
3077631   20261    80463     5.0  1.449026e+09
3077632   20261    80489     5.0  1.449027e+09
3077633   20261    81562     5.0  1.449026e+09
3077634   20261     <NA>     NaN           NaN

[2615732 rows x 4 columns]

In [12]:
ratings_t.shape

(2615732, 4)

In [13]:
movie_list_rating = ratings_t.movieId.unique().tolist() #list the movie titles that survive the filtering
movie_list_rating

[1,
 62,
 110,
 150,
 151,
 236,
 260,
 261,
 266,
 318,
 333,
 349,
 356,
 364,
 380,
 457,
 480,
 497,
 524,
 527,
 534,
 553,
 588,
 589,
 653,
 733,
 858,
 914,
 953,
 1035,
 1080,
 1136,
 1196,
 1197,
 1198,
 1201,
 1210,
 1246,
 1257,
 1270,
 1271,
 1275,
 1283,
 1287,
 1291,
 1293,
 1299,
 1302,
 1356,
 1374,
 1376,
 1393,
 1431,
 1465,
 1485,
 1488,
 1527,
 1580,
 1584,
 1587,
 1610,
 1653,
 1672,
 1674,
 1682,
 1693,
 1722,
 1873,
 1907,
 1923,
 1957,
 1968,
 2028,
 2081,
 2083,
 2115,
 2138,
 2139,
 2150,
 2194,
 2268,
 2273,
 2294,
 2324,
 2355,
 2359,
 2406,
 2470,
 2496,
 2501,
 2571,
 2617,
 2640,
 2643,
 2694,
 2720,
 2745,
 2761,
 2762,
 2797,
 2918,
 2987,
 3098,
 3105,
 3107,
 3114,
 3148,
 3175,
 3360,
 3396,
 3479,
 3510,
 3578,
 3793,
 3889,
 3916,
 3948,
 3994,
 4016,
 4019,
 4022,
 4023,
 4103,
 4299,
 4306,
 4535,
 4571,
 4720,
 4857,
 4874,
 4886,
 4896,
 4963,
 4993,
 4995,
 5010,
 5103,
 5349,
 5418,
 5445,
 5574,
 5816,
 5952,
 5955,
 6156,
 6157,
 6213,
 6287,
 6311,
 6333,
 6539,
 6565,
 6753,
 6879,
 6947,
 7004,
 7007,
 7075,
 7090,
 7143,
 7153,
 7162,
 7386,
 7624,
 8010,
 8360,
 8368,
 8636,
 8665,
 8958,
 8961,
 8970,
 27821,
 30749,
 30848,
 31923,
 33166,
 33493,
 33660,
 33794,
 34162,
 35836,
 36527,
 40815,
 29,
 32,
 50,
 111,
 172,
 173,
 214,
 293,
 296,
 442,
 541,
 593,
 741,
 745,
 778,
 780,
 912,
 913,
 924,
 1089,
 1127,
 1148,
 1200,
 1206,
 1208,
 1213,
 1214,
 1217,
 1221,
 1222,
 1240,
 1252,
 1274,
 1320,
 1676,
 1732,
 1748,
 1882,
 1909,
 1960,
 2019,
 2021,
 2105,
 2329,
 2542,
 2628,
 2641,
 2858,
 2938,
 2959,
 3091,
 3156,
 3285,
 3300,
 3301,
 3328,
 3408,
 3452,
 3471,
 3484,
 3527,
 3534,
 3535,
 3646,
 3702,
 3730,
 3744,
 3745,
 3751,
 3753,
 3755,
 3785,
 3798,
 3825,
 3827,
 3863,
 3879,
 3968,
 3969,
 3977,
 3979,
 3980,
 3986,
 3988,
 3991,
 3993,
 3996,
 3999,
 4011,
 4018,
 4025,
 4027,
 4034,
 4069,
 4148,
 4167,
 4226,
 4232,
 4234,
 4246,
 4262,
 4308,
 4340,
 4343,
 4344,
 4366,
 4367,
 4368,
 4369,
 4383,
 4388,
 4447,
 4448,
 4643,
 4701,
 4718,
 4776,
 4816,
 4844,
 4866,
 4887,
 4901,
 4958,
 4975,
 4979,
 4992,
 5004,
 5013,
 5014,
 5108,
 5218,
 5219,
 5225,
 5254,
 5266,
 5291,
 5293,
 5313,
 5364,
 5377,
 5378,
 5388,
 5400,
 5449,
 5459,
 5479,
 5502,
 5507,
 5528,
 5630,
 5669,
 5679,
 5782,
 5785,
 5810,
 5853,
 5872,
 5900,
 5903,
 5944,
 5945,
 5954,
 5956,
 5959,
 5989,
 5991,
 6016,
 6059,
 6155,
 6281,
 6283,
 6323,
 6365,
 6373,
 6377,
 6378,
 6383,
 6440,
 6482,
 6502,
 6534,
 6535,
 6537,
 6541,
 6548,
 6550,
 6564,
 6586,
 6595,
 6708,
 6711,
 6754,
 6863,
 6870,
 6873,
 6874,
 6934,
 6952,
 7147,
 7149,
 7154,
 7163,
 7293,
 7325,
 7346,
 7347,
 7361,
 7373,
 7438,
 7439,
 7445,
 7454,
 7458,
 8361,
 8370,
 8371,
 8528,
 8529,
 8641,
 8644,
 8666,
 8781,
 8783,
 8798,
 8810,
 8861,
 8865,
 8874,
 8965,
 8969,
 8983,
 8984,
 8985,
 27134,
 27660,
 27706,
 27728,
 27773,
 27793,
 27803,
 27808,
 30707,
 30793,
 30825,
 31184,
 31221,
 31685,
 31696,
 31804,
 31878,
 32587,
 33004,
 33615,
 33679,
 34048,
 34150,
 34319,
 34405,
 34437,
 36519,
 36529,
 37386,
 37727,
 37729,
 37741,
 39435,
 40583,
 40819,
 41566,
 41569,
 42738,
 43928,
 44022,
 44191,
 45186,
 45447,
 45499,
 45501,
 45517,
 45666,
 45672,
 45722,
 46335,
 46578,
 46965,
 46970,
 46972,
 47200,
 47610,
 48385,
 48394,
 48516,
 48738,
 48774,
 48780,
 49272,
 49274,
 49278,
 49530,
 49822,
 50068,
 50872,
 51255,
 51662,
 51935,
 52604,
 52722,
 52950,
 53121,
 53125,
 53129,
 53464,
 53972,
 53996,
 54001,
 54286,
 54503,
 54648,
 54997,
 55232,
 55765,
 55805,
 55820,
 56145,
 56156,
 56171,
 56174,
 56587,
 56782,
 56949,
 57368,
 57528,
 57640,
 57669,
 58025,
 58559,
 59315,
 59369,
 59501,
 59615,
 59784,
 59900,
 60040,
 60069,
 60072,
 60074,
 60126,
 60684,
 60756,
 60760,
 61132,
 61160,
 61248,
 61323,
 61350,
 62849,
 62999,
 63062,
 63072,
 63113,
 63859,
 63876,
 64030,
 64614,
 64839,
 64957,
 65514,
 65682,
 66097,
 67255,
 67923,
 68157,
 68319,
 68358,
 68554,
 68791,
 68793,
 68952,
 69122,
 69481,
 69526,
 69640,
 69844,
 70286,
 70293,
 70305,
 70336,
 71057,
 71156,
 71464,
 71530,
 71535,
 72011,
 72209,
 72378,
 72641,
 72701,
 72998,
 73017,
 73268,
 73321,
 73323,
 74458,
 74789,
 76077,
 76093,
 76251,
 77561,
 78469,
 78499,
 79091,
 79132,
 79224,
 79293,
 79695,
 80363,
 80463,
 81229,
 81537,
 81564,
 81591,
 81834,
 81845,
 82095,
 82202,
 82461,
 83349,
 83613,
 84152,
 84772,
 84954,
 85020,
 85056,
 85131,
 85261,
 85414,
 86332,
 86644,
 86880,
 86911,
 87232,
 87306,
 87430,
 87520,
 87876,
 88125,
 88140,
 88405,
 88744,
 89492,
 89745,
 89753,
 90249,
 90866,
 91500,
 91529,
 91542,
 91630,
 91658,
 91974,
 91976,
 93363,
 93805,
 94018,
 94677,
 94777,
 94864,
 95441,
 95510,
 95875,
 96079,
 96610,
 96691,
 96737,
 96861,
 97225,
 97306,
 97921,
 97923,
 98809,
 99112,
 99114,
 101864,
 102125,
 102407,
 102445,
 102686,
 102716,
 102880,
 102903,
 103075,
 103141,
 103228,
 103249,
 103253,
 103384,
 103772,
 103810,
 104241,
 104243,
 104841,
 105213,
 106002,
 106072,
 106100,
 106487,
 106489,
 106782,
 106920,
 107348,
 107406,
 108190,
 108932,
 108945,
 109374,
 109487,
 109578,
 110102,
 110407,
 110730,
 111113,
 111360,
 111362,
 111443,
 111659,
 111759,
 112138,
 112171,
 112370,
 112552,
 112556,
 112623,
 112852,
 113345,
 114180,
 114847,
 114935,
 115569,
 115617,
 115713,
 116797,
 116823,
 116897,
 117529,
 117533,
 120466,
 122882,
 122886,
 122892,
 122896,
 122900,
 122906,
 122912,
 122914,
 122918,
 122920,
 122922,
 122924,
 129354,
 130490,
 130634,
 132046,
 134130,
 134853,
 135133,
 135143,
 135536,
 135569,
 136020,
 136449,
 136469,
 136864,
 139385,
 139644,
 140956,
 142509,
 143385,
 148626,
 148855,
 149406,
 151763,
 158238,
 158966,
 159093,
 164179,
 166528,
 166635,
 168252,
 168612,
 171763,
 175197,
 176101,
 176371,
 179819,
 182823,
 187541,
 187593,
 1036,
 1220,
 1265,
 1278,
 1288,
 2716,
 2791,
 2951,
 2985,
 2993,
 3033,
 3039,
 3624,
 3671,
 3681,
 4709,
 4974,
 5110,
 5299,
 5444,
 5618,
 7324,
 7451,
 7569,
 8914,
 38038,
 44193,
 44665,
 45431,
 46948,
 48982,
 49396,
 49649,
 50601,
 53956,
 54881,
 68954,
 71264,
 72226,
 74530,
 76175,
 77866,
 78893,
 79185,
 79702,
 83134,
 86345,
 91485,
 93510,
 93838,
 93840,
 96110,
 97304,
 97913,
 103341,
 106916,
 111781,
 115122,
 115149,
 119145,
 122904,
 127098,
 138036,
 142115,
 148426,
 152081,
 156706,
 159817,
 168248,
 171011,
 173145,
 174055,
 179401,
 180989,
 182715,
 189333,
 195159,
 200818,
 200838,
 203375,
 203519,
 19,
 36,
 39,
 47,
 88,
 95,
 104,
 113,
 122,
 141,
 147,
 153,
 170,
 191,
 216,
 218,
 219,
 224,
 231,
 235,
 238,
 248,
 253,
 267,
 277,
 288,
 292,
 300,
 312,
 337,
 340,
 342,
 344,
 350,
 372,
 416,
 432,
 435,
 440,
 441,
 477,
 487,
 491,
 500,
 542,
 590,
 592,
 595,
 608,
 628,
 671,
 736,
 784,
 786,
 788,
 802,
 839,
 1016,
 1042,
 1047,
 1061,
 1073,
 1093,
 1097,
 1120,
 1194,
 1234,
 1235,
 1290,
 1344,
 1357,
 1380,
 1407,
 1409,
 3,
 6,
 7,
 10,
 11,
 16,
 18,
 21,
 25,
 27,
 69,
 103,
 112,
 125,
 145,
 161,
 163,
 165,
 180,
 198,
 201,
 207,
 209,
 223,
 225,
 237,
 290,
 316,
 325,
 358,
 377,
 428,
 454,
 474,
 490,
 494,
 511,
 551,
 575,
 594,
 648,
 708,
 725,
 750,
 785,
 799,
 805,
 875,
 903,
 904,
 923,
 1012,
 1020,
 1022,
 1029,
 1032,
 1049,
 1092,
 1101,
 1129,
 1203,
 1207,
 1242,
 1258,
 ...]

In [14]:
len(ratings_t.movieId.unique())/len(moviescsv.movieId.unique()) * 100 #we still have 97% of the original movie titles in ratings dataframe

50.685920577617324

In [15]:
len(ratings_t.userId.unique())/len(ratings.userId.unique()) * 100 #we have only 44% of the users, So now lets filter the movies data frame

45.145846700557726

In [16]:
movies = moviescsv[moviescsv.movieId.isin(movie_list_rating)]
movies.shape

(31520, 4)

In [17]:
mapping_file = dict(zip(movies.title.tolist(), movies.movieId.tolist()))
mapping_file

{'Toy Story (1995)': 1,
 'Jumanji (1995)': 2,
 'Grumpier Old Men (1995)': 3,
 'Waiting to Exhale (1995)': 4,
 'Father of the Bride Part II (1995)': 5,
 'Heat (1995)': 6,
 'Sabrina (1995)': 7,
 'Tom and Huck (1995)': 8,
 'Sudden Death (1995)': 9,
 'GoldenEye (1995)': 10,
 'American President, The (1995)': 11,
 'Dracula: Dead and Loving It (1995)': 12,
 'Balto (1995)': 13,
 'Nixon (1995)': 14,
 'Cutthroat Island (1995)': 15,
 'Casino (1995)': 16,
 'Sense and Sensibility (1995)': 17,
 'Four Rooms (1995)': 18,
 'Ace Ventura: When Nature Calls (1995)': 19,
 'Money Train (1995)': 20,
 'Get Shorty (1995)': 21,
 'Copycat (1995)': 22,
 'Assassins (1995)': 23,
 'Powder (1995)': 24,
 'Leaving Las Vegas (1995)': 25,
 'Othello (1995)': 26,
 'Now and Then (1995)': 27,
 'Persuasion (1995)': 28,
 'City of Lost Children, The (Cité des enfants perdus, La) (1995)': 29,
 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)': 30,
 'Dangerous Minds (1995)': 31,
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)': 32,
 'Wings of Courage (1995)': 33,
 'Babe (1995)': 34,
 'Carrington (1995)': 35,
 'Dead Man Walking (1995)': 36,
 'Across the Sea of Time (1995)': 37,
 'It Takes Two (1995)': 38,
 'Clueless (1995)': 39,
 'Cry, the Beloved Country (1995)': 40,
 'Richard III (1995)': 41,
 'Dead Presidents (1995)': 42,
 'Restoration (1995)': 43,
 'Mortal Kombat (1995)': 44,
 'To Die For (1995)': 45,
 'How to Make an American Quilt (1995)': 46,
 'Seven (a.k.a. Se7en) (1995)': 47,
 'Pocahontas (1995)': 48,
 'When Night Is Falling (1995)': 49,
 'Usual Suspects, The (1995)': 50,
 'Guardian Angel (1994)': 51,
 'Mighty Aphrodite (1995)': 52,
 'Lamerica (1994)': 53,
 'Big Green, The (1995)': 54,
 'Georgia (1995)': 55,
 'Kids of the Round Table (1995)': 56,
 'Home for the Holidays (1995)': 57,
 'Postman, The (Postino, Il) (1994)': 58,
 'Confessional, The (Confessionnal, Le) (1995)': 59,
 'Indian in the Cupboard, The (1995)': 60,
 'Eye for an Eye (1996)': 61,
 "Mr. Holland's Opus (1995)": 62,
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)": 63,
 'Two if by Sea (1996)': 64,
 'Bio-Dome (1996)': 65,
 'Lawnmower Man 2: Beyond Cyberspace (1996)': 66,
 'Two Bits (1995)': 67,
 'French Twist (Gazon maudit) (1995)': 68,
 'Friday (1995)': 69,
 'From Dusk Till Dawn (1996)': 70,
 'Fair Game (1995)': 71,
 'Kicking and Screaming (1995)': 72,
 'Misérables, Les (1995)': 73,
 'Bed of Roses (1996)': 74,
 'Big Bully (1996)': 75,
 'Screamers (1995)': 76,
 'Nico Icon (1995)': 77,
 'Crossing Guard, The (1995)': 78,
 'Juror, The (1996)': 79,
 'White Balloon, The (Badkonake sefid) (1995)': 80,
 "Things to Do in Denver When You're Dead (1995)": 81,
 "Antonia's Line (Antonia) (1995)": 82,
 'Once Upon a Time... When We Were Colored (1995)': 83,
 'Last Summer in the Hamptons (1995)': 84,
 'Angels and Insects (1995)': 85,
 'White Squall (1996)': 86,
 'Dunston Checks In (1996)': 87,
 'Black Sheep (1996)': 88,
 'Nick of Time (1995)': 89,
 'The Journey of August King (1995)': 90,
 'Mary Reilly (1996)': 92,
 'Vampire in Brooklyn (1995)': 93,
 'Beautiful Girls (1996)': 94,
 'Broken Arrow (1996)': 95,
 'In the Bleak Midwinter (1995)': 96,
 'Hate (Haine, La) (1995)': 97,
 'Shopping (1994)': 98,
 'Heidi Fleiss: Hollywood Madam (1995)': 99,
 'City Hall (1996)': 100,
 'Bottle Rocket (1996)': 101,
 'Mr. Wrong (1996)': 102,
 'Unforgettable (1996)': 103,
 'Happy Gilmore (1996)': 104,
 'Bridges of Madison County, The (1995)': 105,
 'Nobody Loves Me (Keiner liebt mich) (1994)': 106,
 'Muppet Treasure Island (1996)': 107,
 'Catwalk (1996)': 108,
 'Headless Body in Topless Bar (1995)': 109,
 'Braveheart (1995)': 110,
 'Taxi Driver (1976)': 111,
 'Rumble in the Bronx (Hont faan kui) (1995)': 112,
 'Before and After (1996)': 113,
 "Margaret's Museum (1995)": 114,
 'Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)': 115,
 'Anne Frank Remembered (1995)': 116,
 "Young Poisoner's Handbook, The (1995)": 117,
 'If Lucy Fell (1996)': 118,
 'Steal Big, Steal Little (1995)': 119,
 'Race the Sun (1996)': 120,
 'Boys of St. Vincent, The (1992)': 121,
 'Boomerang (1992)': 122,
 'Chungking Express (Chung Hing sam lam) (1994)': 123,
 "Star Maker, The (Uomo delle stelle, L') (1995)": 124,
 'Flirting With Disaster (1996)': 125,
 'NeverEnding Story III, The (1994)': 126,
 'Silences of the Palace, The (Saimt el Qusur) (1994)': 127,
 "Jupiter's Wife (1994)": 128,
 'Pie in the Sky (1996)': 129,
 'Angela (1995)': 130,
 'Frankie Starlight (1995)': 131,
 'Jade (1995)': 132,
 'Nueba Yol (1995)': 133,
 'Sonic Outlaws (1995)': 134,
 'Down Periscope (1996)': 135,
 'From the Journals of Jean Seberg (1995)': 136,
 'Man of the Year (1995)': 137,
 'Neon Bible, The (1995)': 138,
 'Target (1995)': 139,
 'Up Close and Personal (1996)': 140,
 'Birdcage, The (1996)': 141,
 'Shadows (Cienie) (1988)': 142,
 'Gospa (1995)': 143,
 'Brothers McMullen, The (1995)': 144,
 'Bad Boys (1995)': 145,
 'Amazing Panda Adventure, The (1995)': 146,
 'Basketball Diaries, The (1995)': 147,
 'Awfully Big Adventure, An (1995)': 148,
 'Amateur (1994)': 149,
 'Apollo 13 (1995)': 150,
 'Rob Roy (1995)': 151,
 'Addiction, The (1995)': 152,
 'Batman Forever (1995)': 153,
 'Beauty of the Day (Belle de jour) (1967)': 154,
 'Beyond Rangoon (1995)': 155,
 'Blue in the Face (1995)': 156,
 'Canadian Bacon (1995)': 157,
 'Casper (1995)': 158,
 'Clockers (1995)': 159,
 'Congo (1995)': 160,
 'Crimson Tide (1995)': 161,
 'Crumb (1994)': 162,
 'Desperado (1995)': 163,
 'Devil in a Blue Dress (1995)': 164,
 'Die Hard: With a Vengeance (1995)': 165,
 'Doom Generation, The (1995)': 166,
 'Feast of July (1995)': 167,
 'First Knight (1995)': 168,
 'Free Willy 2: The Adventure Home (1995)': 169,
 'Hackers (1995)': 170,
 'Jeffrey (1995)': 171,
 'Johnny Mnemonic (1995)': 172,
 'Judge Dredd (1995)': 173,
 'Jury Duty (1995)': 174,
 'Kids (1995)': 175,
 'Living in Oblivion (1995)': 176,
 'Lord of Illusions (1995)': 177,
 'Love & Human Remains (1993)': 178,
 'Mad Love (1995)': 179,
 'Mallrats (1995)': 180,
 'Mighty Morphin Power Rangers: The Movie (1995)': 181,
 'Moonlight and Valentino (1995)': 182,
 'Mute Witness (1994)': 183,
 'Nadja (1994)': 184,
 'Net, The (1995)': 185,
 'Nine Months (1995)': 186,
 'Party Girl (1995)': 187,
 'Prophecy, The (1995)': 188,
 'Reckless (1995)': 189,
 'Safe (1995)': 190,
 'Scarlet Letter, The (1995)': 191,
 'The Show (1995)': 192,
 'Showgirls (1995)': 193,
 'Smoke (1995)': 194,
 'Something to Talk About (1995)': 195,
 'Species (1995)': 196,
 'Stars Fell on Henrietta, The (1995)': 197,
 'Strange Days (1995)': 198,
 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)': 199,
 'Tie That Binds, The (1995)': 200,
 'Three Wishes (1995)': 201,
 'Total Eclipse (1995)': 202,
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)': 203,
 'Under Siege 2: Dark Territory (1995)': 204,
 'Unstrung Heroes (1995)': 205,
 'Unzipped (1995)': 206,
 'Walk in the Clouds, A (1995)': 207,
 'Waterworld (1995)': 208,
 "White Man's Burden (1995)": 209,
 'Wild Bill (1995)': 210,
 'Browning Version, The (1994)': 211,
 'Bushwhacked (1995)': 212,
 'Burnt by the Sun (Utomlyonnye solntsem) (1994)': 213,
 'Before the Rain (Pred dozhdot) (1994)': 214,
 'Before Sunrise (1995)': 215,
 'Billy Madison (1995)': 216,
 'Babysitter, The (1995)': 217,
 'Boys on the Side (1995)': 218,
 'Cure, The (1995)': 219,
 'Castle Freak (1995)': 220,
 'Circle of Friends (1995)': 222,
 'Clerks (1994)': 223,
 'Don Juan DeMarco (1995)': 224,
 'Disclosure (1994)': 225,
 'Dream Man (1995)': 226,
 'Drop Zone (1994)': 227,
 'Destiny Turns on the Radio (1995)': 228,
 'Death and the Maiden (1994)': 229,
 'Dolores Claiborne (1995)': 230,
 'Dumb & Dumber (Dumb and Dumber) (1994)': 231,
 'Eat Drink Man Woman (Yin shi nan nu) (1994)': 232,
 'Exotica (1994)': 233,
 'Exit to Eden (1994)': 234,
 'Ed Wood (1994)': 235,
 'French Kiss (1995)': 236,
 'Forget Paris (1995)': 237,
 'Far From Home: The Adventures of Yellow Dog (1995)': 238,
 'Goofy Movie, A (1995)': 239,
 'Hideaway (1995)': 240,
 'Fluke (1995)': 241,
 'Farinelli: il castrato (1994)': 242,
 'Gordy (1995)': 243,
 'Gumby: The Movie (1995)': 244,
 'The Glass Shield (1994)': 245,
 'Hoop Dreams (1994)': 246,
 'Heavenly Creatures (1994)': 247,
 'Houseguest (1994)': 248,
 'Immortal Beloved (1994)': 249,
 'Heavyweights (Heavy Weights) (1995)': 250,
 'Hunted, The (1995)': 251,
 'I.Q. (1994)': 252,
 'Interview with the Vampire: The Vampire Chronicles (1994)': 253,
 'Jefferson in Paris (1995)': 254,
 'Jerky Boys, The (1995)': 255,
 'Junior (1994)': 256,
 'Just Cause (1995)': 257,
 "Kid in King Arthur's Court, A (1995)": 258,
 'Kiss of Death (1995)': 259,
 'Star Wars: Episode IV - A New Hope (1977)': 260,
 'Little Women (1994)': 261,
 'Little Princess, A (1995)': 262,
 'Ladybird Ladybird (1994)': 263,
 "Enfer, L' (1994)": 264,
 'Like Water for Chocolate (Como agua para chocolate) (1992)': 265,
 'Legends of the Fall (1994)': 266,
 'Major Payne (1995)': 267,
 'Little Odessa (1994)': 268,
 'My Crazy Life (Mi vida loca) (1993)': 269,
 'Love Affair (1994)': 270,
 'Losing Isaiah (1995)': 271,
 'Madness of King George, The (1994)': 272,
 "Mary Shelley's Frankenstein (Frankenstein) (1994)": 273,
 'Man of the House (1995)': 274,
 'Mixed Nuts (1994)': 275,
 'Milk Money (1994)': 276,
 'Miracle on 34th Street (1994)': 277,
 'Miami Rhapsody (1995)': 278,
 'My Family (1995)': 279,
 'Murder in the First (1995)': 280,
 "Nobody's Fool (1994)": 281,
 'Nell (1994)': 282,
 'New Jersey Drive (1995)': 283,
 'New York Cop (Nyû Yôku no koppu) (1993)': 284,
 'Beyond Bedlam (1993)': 285,
 'Nemesis 2: Nebula (1995)': 286,
 'Nina Takes a Lover (1994)': 287,
 'Natural Born Killers (1994)': 288,
 'Only You (1994)': 289,
 'Once Were Warriors (1994)': 290,
 'Outbreak (1995)': 292,
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)': 293,
 'Perez Family, The (1995)': 294,
 "Pyromaniac's Love Story, A (1995)": 295,
 'Pulp Fiction (1994)': 296,
 'Panther (1995)': 297,
 'Pushing Hands (Tui shou) (1992)': 298,
 'Priest (1994)': 299,
 'Quiz Show (1994)': 300,
 'Picture Bride (Bijo photo) (1994)': 301,
 'Queen Margot (Reine Margot, La) (1994)': 302,
 'Quick and the Dead, The (1995)': 303,
 'Roommates (1995)': 304,
 'Ready to Wear (Pret-A-Porter) (1994)': 305,
 'Three Colors: Red (Trois couleurs: Rouge) (1994)': 306,
 'Three Colors: Blue (Trois couleurs: Bleu) (1993)': 307,
 'Three Colors: White (Trzy kolory: Bialy) (1994)': 308,
 'Red Firecracker, Green Firecracker (Pao Da Shuang Deng) (1994)': 309,
 'Rent-a-Kid (1995)': 310,
 'Relative Fear (1994)': 311,
 'Stuart Saves His Family (1995)': 312,
 'Swan Princess, The (1994)': 313,
 'Secret of Roan Inish, The (1994)': 314,
 'Specialist, The (1994)': 315,
 'Stargate (1994)': 316,
 'Santa Clause, The (1994)': 317,
 'Shawshank Redemption, The (1994)': 318,
 'Shallow Grave (1994)': 319,
 'Suture (1993)': 320,
 'Strawberry and Chocolate (Fresa y chocolate) (1993)': 321,
 'Swimming with Sharks (1995)': 322,
 'Sum of Us, The (1994)': 324,
 "National Lampoon's Senior Trip (1995)": 325,
 'To Live (Huozhe) (1994)': 326,
 'Tank Girl (1995)': 327,
 'Tales from the Crypt Presents: Demon Knight (1995)': 328,
 'Star Trek: Generations (1994)': 329,
 'Tales from the Hood (1995)': 330,
 'Tom & Viv (1994)': 331,
 'Village of the Damned (1995)': 332,
 'Tommy Boy (1995)': 333,
 'Vanya on 42nd Street (1994)': 334,
 'Underneath (1995)': 335,
 'Walking Dead, The (1995)': 336,
 "What's Eating Gilbert Grape (1993)": 337,
 'Virtuosity (1995)': 338,
 'While You Were Sleeping (1995)': 339,
 'War, The (1994)': 340,
 'Double Happiness (1994)': 341,
 "Muriel's Wedding (1994)": 342,
 'Baby-Sitters Club, The (1995)': 343,
 'Ace Ventura: Pet Detective (1994)': 344,
 'Adventures of Priscilla, Queen of the Desert, The (1994)': 345,
 'Backbeat (1993)': 346,
 'Bitter Moon (1992)': 347,
 'Bullets Over Broadway (1994)': 348,
 'Clear and Present Danger (1994)': 349,
 'Client, The (1994)': 350,
 'Corrina, Corrina (1994)': 351,
 'Crooklyn (1994)': 352,
 'Crow, The (1994)': 353,
 'Cobb (1994)': 354,
 'Flintstones, The (1994)': 355,
 'Forrest Gump (1994)': 356,
 'Four Weddings and a Funeral (1994)': 357,
 'Higher Learning (1995)': 358,
 'I Like It Like That (1994)': 359,
 'I Love Trouble (1994)': 360,
 'It Could Happen to You (1994)': 361,
 'Jungle Book, The (1994)': 362,
 'Wonderful, Horrible Life of Leni Riefenstahl, The (Macht der Bilder: Leni Riefenstahl, Die) (1993)': 363,
 'Lion King, The (1994)': 364,
 'Little Buddha (1993)': 365,
 "Wes Craven's New Nightmare (Nightmare on Elm Street Part 7: Freddy's Finale, A) (1994)": 366,
 'Mask, The (1994)': 367,
 'Maverick (1994)': 368,
 'Mrs. Parker and the Vicious Circle (1994)': 369,
 'Naked Gun 33 1/3: The Final Insult (1994)': 370,
 'Paper, The (1994)': 371,
 'Reality Bites (1994)': 372,
 'Red Rock West (1992)': 373,
 'Richie Rich (1994)': 374,
 'Safe Passage (1994)': 375,
 'River Wild, The (1994)': 376,
 'Speed (1994)': 377,
 'Speechless (1994)': 378,
 'Timecop (1994)': 379,
 'True Lies (1994)': 380,
 'When a Man Loves a Woman (1994)': 381,
 'Wolf (1994)': 382,
 'Wyatt Earp (1994)': 383,
 'Bad Company (1995)': 384,
 'Man of No Importance, A (1994)': 385,
 'S.F.W. (1994)': 386,
 'Low Down Dirty Shame, A (1994)': 387,
 'Boys Life (1995)': 388,
 'Colonel Chabert, Le (1994)': 389,
 'Faster Pussycat! Kill! Kill! (1965)': 390,
 "Jason's Lyric (1994)": 391,
 'Secret Adventures of Tom Thumb, The (1993)': 392,
 'Street Fighter (1994)': 393,
 'Coldblooded (1995)': 394,
 'Desert Winds (1995)': 395,
 'Fall Time (1995)': 396,
 'Fear, The (1995)': 397,
 'Frank and Ollie (1995)': 398,
 'Girl in the Cadillac (1995)': 399,
 'Homage (1995)': 400,
 'Mirage (1995)': 401,
 'Open Season (1996)': 402,
 'Two Crimes (Dos crímenes) (1995)': 403,
 'Brother Minister: The Assassination of Malcolm X (1994)': 404,
 'Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)': 405,
 'Federal Hill (1994)': 406,
 'In the Mouth of Madness (1995)': 407,
 '8 Seconds (1994)': 408,
 'Above the Rim (1994)': 409,
 'Addams Family Values (1993)': 410,
 'Martin Lawrence: You So Crazy (1994)': 411,
 'Age of Innocence, The (1993)': 412,
 'Airheads (1994)': 413,
 'Air Up There, The (1994)': 414,
 'Another Stakeout (1993)': 415,
 'Bad Girls (1994)': 416,
 'Barcelona (1994)': 417,
 'Being Human (1993)': 418,
 'Beverly Hillbillies, The (1993)': 419,
 'Beverly Hills Cop III (1994)': 420,
 'Black Beauty (1994)': 421,
 'Blink (1994)': 422,
 'Blown Away (1994)': 423,
 'Blue Chips (1994)': 424,
 'Blue Sky (1994)': 425,
 'Body Snatchers (1993)': 426,
 'Boxing Helena (1993)': 427,
 'Bronx Tale, A (1993)': 428,
 'Cabin Boy (1994)': 429,
 'Calendar Girl (1993)': 430,
 "Carlito's Way (1993)": 431,
 "City Slickers II: The Legend of Curly's Gold (1994)": 432,
 'Clean Slate (1994)': 433,
 'Cliffhanger (1993)': 434,
 'Coneheads (1993)': 435,
 'Color of Night (1994)': 436,
 'Cops and Robbersons (1994)': 437,
 'Cowboy Way, The (1994)': 438,
 'Dangerous Game (1993)': 439,
 'Dave (1993)': 440,
 'Dazed and Confused (1993)': 441,
 'Demolition Man (1993)': 442,
 'Endless Summer 2, The (1994)': 443,
 'Even Cowgirls Get the Blues (1993)': 444,
 'Fatal Instinct (1993)': 445,
 'Farewell My Concubine (Ba wang bie ji) (1993)': 446,
 'Favor, The (1994)': 447,
 'Fearless (1993)': 448,
 'Fear of a Black Hat (1994)': 449,
 'With Honors (1994)': 450,
 'Flesh and Bone (1993)': 451,
 "Widows' Peak (1994)": 452,
 'For Love or Money (1993)': 453,
 'Firm, The (1993)': 454,
 'Free Willy (1993)': 455,
 'Fresh (1994)': 456,
 'Fugitive, The (1993)': 457,
 'Geronimo: An American Legend (1993)': 458,
 'Getaway, The (1994)': 459,
 'Getting Even with Dad (1994)': 460,
 'Go Fish (1994)': 461,
 'Good Man in Africa, A (1994)': 462,
 'Guilty as Sin (1993)': 463,
 'Hard Target (1993)': 464,
 'Heaven & Earth (1993)': 465,
 'Hot Shots! Part Deux (1993)': 466,
 'Live Nude Girls (1995)': 467,
 'Englishman Who Went Up a Hill But Came Down a Mountain, The (1995)': 468,
 'House of the Spirits, The (1993)': 469,
 'House Party 3 (1994)': 470,
 'Hudsucker Proxy, The (1994)': 471,
 "I'll Do Anything (1994)": 472,
 'In the Army Now (1994)': 473,
 'In the Line of Fire (1993)': 474,
 'In the Name of the Father (1993)': 475,
 'Inkwell, The (1994)': 476,
 "What's Love Got to Do with It? (1993)": 477,
 'Jimmy Hollywood (1994)': 478,
 'Judgment Night (1993)': 479,
 'Jurassic Park (1993)': 480,
 'Kalifornia (1993)': 481,
 'Killing Zoe (1994)': 482,
 'King of the Hill (1993)': 483,
 'Lassie (1994)': 484,
 'Last Action Hero (1993)': 485,
 'Life with Mikey (1993)': 486,
 'Lightning Jack (1994)': 487,
 'M. Butterfly (1993)': 488,
 'Made in America (1993)': 489,
 'Malice (1993)': 490,
 'Man Without a Face, The (1993)': 491,
 'Manhattan Murder Mystery (1993)': 492,
 'Menace II Society (1993)': 493,
 'Executive Decision (1996)': 494,
 'In the Realm of the Senses (Ai no corrida) (1976)': 495,
 'What Happened Was... (1994)': 496,
 'Much Ado About Nothing (1993)': 497,
 'Mr. Jones (1993)': 498,
 'Mr. Wonderful (1993)': 499,
 'Mrs. Doubtfire (1993)': 500,
 'Naked (1993)': 501,
 'Next Karate Kid, The (1994)': 502,
 'New Age, The (1994)': 503,
 'No Escape (1994)': 504,
 'North (1994)': 505,
 'Orlando (1992)': 506,
 'Perfect World, A (1993)': 507,
 'Philadelphia (1993)': 508,
 'Piano, The (1993)': 509,
 'Poetic Justice (1993)': 510,
 'Program, The (1993)': 511,
 'Puppet Masters, The (1994)': 512,
 'Radioland Murders (1994)': 513,
 'Ref, The (1994)': 514,
 'Remains of the Day, The (1993)': 515,
 'Renaissance Man (1994)': 516,
 'Rising Sun (1993)': 517,
 'Road to Wellville, The (1994)': 518,
 'RoboCop 3 (1993)': 519,
 'Robin Hood: Men in Tights (1993)': 520,
 'Romeo Is Bleeding (1993)': 521,
 'Romper Stomper (1992)': 522,
 'Ruby in Paradise (1993)': 523,
 'Rudy (1993)': 524,
 'Saint of Fort Washington, The (1993)': 525,
 'Savage Nights (Nuits fauves, Les) (1992)': 526,
 "Schindler's List (1993)": 527,
 'Scout, The (1994)': 528,
 'Searching for Bobby Fischer (1993)': 529,
 'Second Best (1994)': 530,
 'Secret Garden, The (1993)': 531,
 'Serial Mom (1994)': 532,
 'Shadow, The (1994)': 533,
 'Shadowlands (1993)': 534,
 'Short Cuts (1993)': 535,
 'Simple Twist of Fate, A (1994)': 536,
 'Sirens (1994)': 537,
 'Six Degrees of Separation (1993)': 538,
 'Sleepless in Seattle (1993)': 539,
 'Sliver (1993)': 540,
 'Blade Runner (1982)': 541,
 'Son in Law (1993)': 542,
 'So I Married an Axe Murderer (1993)': 543,
 'Striking Distance (1993)': 544,
 'Super Mario Bros. (1993)': 546,
 'Surviving the Game (1994)': 547,
 'Terminal Velocity (1994)': 548,
 'Thirty-Two Short Films About Glenn Gould (1993)': 549,
 'Threesome (1994)': 550,
 'Nightmare Before Christmas, The (1993)': 551,
 'Three Musketeers, The (1993)': 552,
 'Tombstone (1993)': 553,
 'Trial by Jury (1994)': 554,
 'True Romance (1993)': 555,
 'War Room, The (1993)': 556,
 'Pagemaster, The (1994)': 558,
 'Paris, France (1993)': 559,
 'Beans of Egypt, Maine, The (1994)': 560,
 'Killer (Bulletproof Heart) (1994)': 561,
 'Welcome to the Dollhouse (1995)': 562,
 'Germinal (1993)': 563,
 'Chasers (1994)': 564,
 'Cronos (1993)': 565,
 'Naked in New York (1994)': 566,
 'Kika (1993)': 567,
 'Bhaji on the Beach (1993)': 568,
 'Little Big League (1994)': 569,
 'Slingshot, The (Kådisbellan) (1993)': 570,
 'Wedding Gift, The (1994)': 571,
 'Foreign Student (1994)': 572,
 'Ciao, Professore! (Io speriamo che me la cavo) (1992)': 573,
 'Spanking the Monkey (1994)': 574,
 'Little Rascals, The (1994)': 575,
 'Fausto (1993)': 576,
 'Andre (1994)': 577,
 'Escort, The (Scorta, La) (1993)': 579,
 'Princess Caraboo (1994)': 580,
 'Celluloid Closet, The (1995)': 581,
 'Métisse (Café au Lait) (1993)': 582,
 'Dear Diary (Caro Diario) (1994)': 583,
 "I Don't Want to Talk About It (De eso no se habla) (1993)": 584,
 'Brady Bunch Movie, The (1995)': 585,
 'Home Alone (1990)': 586,
 'Ghost (1990)': 587,
 'Terminator 2: Judgment Day (1991)': 589,
 'Dances with Wolves (1990)': 590,
 'Tough and Deadly (1995)': 591,
 'Batman (1989)': 592,
 'Silence of the Lambs, The (1991)': 593,

In [18]:
tags.drop(['timestamp'], axis = 1, inplace = True)
ratings_t.drop(['timestamp'], axis = 1, inplace = True)

In [19]:
mixed = pd.merge(movies, tags, on='movieId', how = 'left')
mixed.head()

,movieId,title,genres,all_data,userId,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,,791.0,Owned
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,,1048.0,imdb top 250
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,,1361.0,Pixar
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,,3164.0,Pixar
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,,3164.0,time travel

In [20]:
mixed.fillna("", inplace = True)
mixed = pd.DataFrame(mixed.groupby('movieId')['tag'].apply(lambda x: "%s" % ' '.join(x)))

C:\Users\gauur\AppData\Local\Temp\ipykernel_1060\1285130730.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mixed.fillna("", inplace = True)

In [21]:
mixed

                                                       tag
movieId
1        Owned imdb top 250 Pixar Pixar time travel chi...
2                       Robin Williams time travel fantasy
3                                                    funny
4
5
...                                                    ...
209049
209053
209055
209103
209163

[31520 rows x 1 columns]

In [22]:
Final = pd.merge(movies, mixed, on='movieId', how = 'left')
Final

,movieId,title,genres,all_data,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,,Owned imdb top 250 Pixar Pixar time travel chi...
1,2,Jumanji (1995),Adventure|Children|Fantasy,,Robin Williams time travel fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance,,funny
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,,
4,5,Father of the Bride Part II (1995),Comedy,,
...,...,...,...,...,...
31515,209049,No Safe Spaces (2019),Documentary,,
31516,209053,Bowling (2012),Comedy,,
31517,209055,"Very Well, Thank You (2007)",Comedy|Drama,,
31518,209103,Tsar Ivan the Terrible (1991),(no genres listed),,
31519,209163,Bad Poems (2018),Comedy|Drama,,

In [23]:
Final.drop(['all_data'], axis = 1, inplace = True)
Final

,movieId,title,genres,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Owned imdb top 250 Pixar Pixar time travel chi...
1,2,Jumanji (1995),Adventure|Children|Fantasy,Robin Williams time travel fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance,funny
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,
4,5,Father of the Bride Part II (1995),Comedy,
...,...,...,...,...
31515,209049,No Safe Spaces (2019),Documentary,
31516,209053,Bowling (2012),Comedy,
31517,209055,"Very Well, Thank You (2007)",Comedy|Drama,
31518,209103,Tsar Ivan the Terrible (1991),(no genres listed),
31519,209163,Bad Poems (2018),Comedy|Drama,

In [24]:
Final ['metadata'] = Final[['tag', 'genres']].apply(lambda x: ' '.join(x), axis = 1)
Final

,movieId,title,genres,tag,metadata
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Owned imdb top 250 Pixar Pixar time travel chi...,Owned imdb top 250 Pixar Pixar time travel chi...
1,2,Jumanji (1995),Adventure|Children|Fantasy,Robin Williams time travel fantasy,Robin Williams time travel fantasy Adventure|C...
2,3,Grumpier Old Men (1995),Comedy|Romance,funny,funny Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,,Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy,,Comedy
...,...,...,...,...,...
31515,209049,No Safe Spaces (2019),Documentary,,Documentary
31516,209053,Bowling (2012),Comedy,,Comedy
31517,209055,"Very Well, Thank You (2007)",Comedy|Drama,,Comedy|Drama
31518,209103,Tsar Ivan the Terrible (1991),(no genres listed),,(no genres listed)
31519,209163,Bad Poems (2018),Comedy|Drama,,Comedy|Drama

In [25]:
ratings_t

         userId  movieId  rating
70            2        1     3.5
71            2       62     0.5
72            2      110     5.0
73            2      150     4.0
74            2      151     4.5
...         ...      ...     ...
3077630   20261    79132     5.0
3077631   20261    80463     5.0
3077632   20261    80489     5.0
3077633   20261    81562     5.0
3077634   20261     <NA>     NaN

[2615732 rows x 3 columns]

In [26]:
Final.shape

(31520, 5)

In [27]:
#colllaborative for the user ratings:

In [28]:
ratings_t.head()

    userId  movieId  rating
70       2        1     3.5
71       2       62     0.5
72       2      110     5.0
73       2      150     4.0
74       2      151     4.5

In [29]:
ratings_t.shape

(2615732, 3)

In [30]:
ratings_t1 = pd.merge(movies[['movieId']], ratings_t, on='movieId', how = 'right')

In [31]:
ratings_t1.shape

(2615732, 3)

In [32]:
from sklearn.neighbors import NearestNeighbors
from scipy.sparse import csr_matrix

In [33]:
movies_users= ratings_t.pivot(index='movieId', columns='userId',values='rating').fillna(0)

In [34]:
movies_users.shape

(31590, 9147)

In [35]:
mat_movies_users=csr_matrix(movies_users.values)

In [36]:
model_knn= NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20)

In [37]:
model_knn.fit(mat_movies_users)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [38]:
from fuzzywuzzy import process #this is to get index of the movie

In [39]:
def recommender(movie_name, data,model, n_recommendations ):
    model.fit(data)
    idx=process.extractOne(movie_name, movies['title'])[2]
    print('Movie Selected: ',movies['title'][idx], 'Index: ',idx)
    print('Searching for recommendations.....')
    distances, indices=model.kneighbors(data[idx], n_neighbors=n_recommendations)
    for i in indices:
        print(movies['title'][i])

In [40]:
recommender('Jumanji (1995)', mat_movies_users, model_knn,20)

Movie Selected:  Jumanji (1995) Index:  1
Searching for recommendations.....
1                                          Jumanji (1995)
352                    Four Weddings and a Funeral (1994)
476                                     Kalifornia (1993)
3000                          McCabe & Mrs. Miller (1971)
1237                            Back to the Future (1985)
258                                   Little Women (1994)
360                                  Little Buddha (1993)
1179    Star Wars: Episode VI - Return of the Jedi (1983)
1166    Star Wars: Episode V - The Empire Strikes Back...
581                     Terminator 2: Judgment Day (1991)
2465                                   Telling You (1998)
1522                               For Ever Mozart (1996)
1168    Raiders of the Lost Ark (Indiana Jones and the...
293                                        Panther (1995)
4158                                      Scarface (1983)
315                                  Shallow Grave (1994)
1232                                 Groundhog Day (1993)
586                Snow White and the Seven Dwarfs (1937)
582                             Dances with Wolves (1990)
4732                                        D.O.A. (1980)
Name: title, dtype: object

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error